@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  width: 1198px !important;
}

.custom-button {
  display: flex;
  align-items: center;
  margin-top: 16px;
  padding: 10px 44px;
  color: #009a9f;
  background-color: white;
  border: 1px solid #009a9f;
  border-radius: 50px;
  gap: 10px;
  box-shadow: 0px 8px 23px rgba(65, 132, 247, 0.2);
}

.custom-button img {
  width: 15px;
  height: 15px;
}

.filter-orange {
  filter: brightness(0) saturate(100%) invert(60%) sepia(80%) saturate(500%)
    hue-rotate(355deg) brightness(1.1) contrast(1);
}

.filter-white {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%)
    hue-rotate(0deg) brightness(1) contrast(1);
}

@media screen and (max-width: 767px) {
  .widget-1 {
    display: none;
  }
  .custom-button {
    width: Fill (95.42px) px;
    height: Hug (23.62px) px;
    padding: 5.31px 0px 5.31px 0px;
    gap: 5.31px;
    border-radius: 53.11px 0px 0px 0px;
    border: 0.53px 0px 0px 0px;
    opacity: 0px;
  }

  .custom-button img {
    width: auto;
    height: auto;
  }

  .services_cards {
    width: auto !important;
  }
  .container {
    width: auto !important;
  }

  .footer-container {
    width: auto !important;
  }

  .mobile-hide {
    display: none !important;
  }
}

@media (min-width: 767px) and (max-width: 925px) {
  html,
  :host {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    tab-size: 4;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-feature-settings: normal;
    font-variation-settings: normal;
    -webkit-tap-highlight-color: transparent;
    width: fit-content;
  }
}
