@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  width: 1198px !important;
}

html,
body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

.custom-button {
  display: flex;
  align-items: center;
  margin-top: 16px;
  padding: 10px 44px;
  color: #009a9f;
  background-color: white;
  border: 1px solid #009a9f;
  border-radius: 50px;
  gap: 10px;
  box-shadow: 0px 8px 23px rgba(65, 132, 247, 0.2);
}

.custom-button img {
  width: 15px;
  height: 15px;
}

.filter-orange {
  filter: brightness(0) saturate(100%) invert(60%) sepia(80%) saturate(500%)
    hue-rotate(355deg) brightness(1.1) contrast(1);
}

.filter-white {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%)
    hue-rotate(0deg) brightness(1) contrast(1);
}

@media screen and (max-width: 767px) {
  .widget-1 {
    display: none;
  }
  .mobile-hide {
    display: none;
  }
  .custom-button {
    width: Fill (95.42px) px;
    height: Hug (23.62px) px;
    padding: 5.31px 0px 5.31px 0px;
    gap: 5.31px;
    border-radius: 53.11px 0px 0px 0px;
    border: 0.53px 0px 0px 0px;
    opacity: 0px;
  }

  .custom-button img {
    width: auto;
    height: auto;
  }

  .services_cards {
    width: auto !important;
  }
  .container {
    width: auto !important;
  }

  .footer-container {
    width: auto !important;
  }

  .mobile-hide {
    display: none !important;
  }
}

@media (min-width: 767px) and (max-width: 925px) {
  html,
  :host {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    tab-size: 4;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-feature-settings: normal;
    font-variation-settings: normal;
    -webkit-tap-highlight-color: transparent;
    width: fit-content !important;
  }

  .slider-banner-home {
    display: none !important;
  }
}

@media (min-width: 820px) and (max-width: 1180px) {
  html,
  :host {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    tab-size: 4;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-feature-settings: normal;
    font-variation-settings: normal;
    -webkit-tap-highlight-color: transparent;
    width: fit-content !important;
  }
}

@media (min-width: 768px) and (max-width: 924px) {
  .container {
    max-width: 100%;
    overflow-x: hidden; /* Prevent extra scroll */
  }
}

@media (min-width: 924px) and (max-width: 1511px) {
  .w-\[1512px\] {
    width: auto !important;
  }
  .w-\[790px\] {
    width: auto !important;
  }
}
@media (min-width: 930px) and (max-width: 1080px) {
  html,
  :host {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    tab-size: 4;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-feature-settings: normal;
    font-variation-settings: normal;
    -webkit-tap-highlight-color: transparent;
    width: fit-content !important;
  }
}

@media (min-width: 1080px) and (max-width: 1200px) {
  html,
  :host {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    tab-size: 4;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-feature-settings: normal;
    font-variation-settings: normal;
    -webkit-tap-highlight-color: transparent;
    width: fit-content !important;
  }
}
@media (min-width: 1512px) and (max-width: 1512px) {
  html,
  :host {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    tab-size: 4;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-feature-settings: normal;
    font-variation-settings: normal;
    -webkit-tap-highlight-color: transparent;
    width: fit-content !important;
  }
}
@media (min-width: 1201px) and (max-width: 1512px) {
  html,
  :host {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    tab-size: 4;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-feature-settings: normal;
    font-variation-settings: normal;
    -webkit-tap-highlight-color: transparent;
    width: fit-content !important;
  }
}

.custom-left {
  left: 13rem !important;
}

/* Jab screen size 1512px ya usse zyada ho to left: 3rem ho jaye */
@media (min-width: 1512px) {
  .custom-left {
    left: 3rem !important;
  }
}

@media (min-width: 768px) and (max-width: 1022px) {
  .services-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .service-card {
    width: 100%;
    max-width: 250px;
  }
}

@media (min-width: 768px) {
  .md\:grid-cols-5 {
    grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
  }
}

/* Tab (Tablet) screen */
@media (max-width: 996px) and (min-width: 768px) {
  .mobile-menu {
    display: block;
  }
  .mobile-footer {
    display: block;
  }
}

@media (max-width: 1300px) and (min-width: 768px) {
  .tab-nav {
    position: relative;
    left: -65px !important;
  }

  .tab-hide-email {
    display: none !important;
  }
}

@media (max-width: 900px) and (min-width: 768px) {
  .tab-nav ul {
    gap: 10px !important;
  }
}
@media (max-width: 1053px) and (min-width: 768px) {
  .tab-profile {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 924px) {
  .footer-container {
    width: auto !important;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .product_card {
    flex-wrap: wrap !important;
    display: flex !important;
  }
}

@media (min-width: 768px) and (max-width: 1171px) {
  .banner {
    display: none !important;
  }
}
@media (min-width: 926px) and (max-width: 1140px) {
  .home_banner {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 1400px) {
  .home_banner_content {
    width: 570px !important;
  }
}
@media (min-width: 768px) and (max-width: 1295px) {
  .home_banner h1 {
    font-size: 31px !important;
  }
  .home_banner_content {
    max-width: 434px !important;
  }
}

@media (min-width: 1512px) and (max-width: 1900px) {
  .slider_banner-text {
    width: 45rem !important;
  }
}
